{% extends 'main/main_base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}首页{% endblock %}

{% block content %}
    <div class="mt-3 row">
        <div class="col-2 align-self-center">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action" id="list-home-list" data-bs-toggle="list"
                   href="#list-home" role="tab" aria-controls="home">Home</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-bs-toggle="list"
                   href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-bs-toggle="list"
                   href="#list-messages" role="tab" aria-controls="messages">Messages</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                   href="#list-settings" role="tab" aria-controls="settings">Settings</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                   href="#list-settings" role="tab" aria-controls="settings">Settings</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-bs-toggle="list"
                   href="#list-settings" role="tab" aria-controls="settings">Settings</a>
            </div>
        </div>
        <div class="col-10">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <img class="img-fluid" src="http://placehold.it/1200x300" alt="Card image cap">
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <img class="img-fluid" src="http://placehold.it/1200x300" alt="Card image cap">
                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <img class="img-fluid" src="http://placehold.it/1200x300" alt="Card image cap">
                </div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    <img class="img-fluid" src="http://placehold.it/1200x300" alt="Card image cap">
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3 row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h3 class="mb-3 pb-1"
                style="border-bottom: 1px solid #ddd;font-weight: bold;font-size: 30px;line-height: 40px;position: relative;">
                文章列表</h3>
            {% include 'main/_posts.html' %}
            {% if posts %}
                <div class="mt-3 pagination justify-content-center mb-4">
                    {{ render_pagination(pagination) }}
                </div>
            {% endif %}
            {##}
            {#            <ul class="pagination justify-content-center mb-4">#}
            {#                <li class="page-item">#}
            {#                    <a class="page-link" href="#">&larr; Older</a>#}
            {#                </li>#}
            {#                <li class="page-item disabled">#}
            {#                    <a class="page-link" href="#">Newer &rarr;</a>#}
            {#                </li>#}
            {#            </ul>#}
        </div>
        {% include 'main/_sidebar.html' %}
    </div>
{% endblock %}