<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.7.0/css/font-awesome.css') }}">
    {% endblock %}
</head>
<body>
{% block nav %}
{% endblock %}

<main class="container">
    {% for message in get_flashed_messages(with_categories=true) %}
    {% endfor %}
    {% block content %}
    {% endblock %}
</main>
{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"></script>
{% endblock %}
</body>
</html>